bin
.build
*.o
src/UI/bsvc
src/UI/bsvc.tk
src/sim68000/sim68000
*.a
example.h68
script
src/Assemblers/68kasm/68kasm
src/sim68000/cpu/instruction
src/sim68000/x.cxx
src/sim68000/y.cxx
test/base/test0/test.txt
test/base/test0/test.h68
test/base/test1/test.h68
test/base/test1/test.lis
test/base/test1/test.txt